.header {
  &-logo-ctn {
    margin: 0 auto;
  }

  &-img {
    width: 25rem;
    height: 25rem;
    border-radius: 2px;
    border-top: 1px solid $color-border-org;
    border-bottom: 1px solid $color-border-org;
    box-shadow: 0 2rem 4rem rgba($color: #000000, $alpha: 0.2);
    transition: all 0.3s;
  }

  &-title-ctn {
    margin-top: 8rem;
  }
  &-title-main {
    font-size: 5rem;
  }
}
.header-img:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(rgb(220, 213, 84), 0.4);
}

.header-img:active {
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(rgb(164, 171, 66), 0.4);
}
