*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  background: url("https://wallpapercave.com/wp/wp1822808.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  position: absolute;
  width: 100%;
  height: 100%; }
  @media (max-width: 37.5em) {
    body {
      width: 100%; } }

body {
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
  color: white; }

h1 {
  font-weight: 300;
  color: white; }

.section-header {
  font-size: 5rem; }

.instructions-ctn {
  font-size: 1.5rem;
  font-weight: 200; }

.instructions-how-to-h3 {
  font-size: 4rem; }

.instructions-how-to-paragraph {
  font-size: 2rem;
  text-align: center; }

.gooble-btn {
  font-size: 2rem; }

.footer {
  text-align: center;
  font-size: 2rem; }

.util-margin-left {
  margin-left: 10rem; }

.util-margin-right {
  margin-right: 10rem; }

.instructions-ctn {
  position: relative;
  width: 50%;
  min-height: 10rem;
  border: 1px solid #d55200;
  border-radius: 0.3rem;
  padding: 5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  background-color: #0f4c5c;
  margin-bottom: 5rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.7); }

.instructions-dialog {
  width: 90%;
  text-align: center; }

.instructions-rick-img {
  position: absolute;
  top: -8rem;
  left: -7rem;
  height: 16rem;
  width: 14rem;
  border-left: 1px solid #d55200;
  border-top: 1px solid #d55200;
  border-radius: 50%;
  background-color: #0f4c5c;
  box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.8), 0px 0px 5px -5px rgba(0, 0, 0, 0.8); }

.instructions-morty-img {
  position: absolute;
  top: -7rem;
  left: 76rem;
  height: 14rem;
  width: 12rem;
  border-left: 1px solid #d55200;
  border-top: 1px solid #d55200;
  border-radius: 50%;
  background-color: #0f4c5c;
  transform: scaleX(-1);
  box-shadow: -8px 0px 5px -5px rgba(0, 0, 0, 0.8), 0px 0px 5px -5px rgba(0, 0, 0, 0.8); }

.instructions-how-to {
  width: 30%;
  border: 1px solid #d55200;
  border-radius: 0.3rem;
  padding: 2rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  background-color: #0f4c5c;
  margin-bottom: 4rem; }
  .instructions-how-to-h3 {
    border-bottom: 1px solid white;
    margin-bottom: 2rem; }

.btn,
.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 5rem;
  transition: all 0.2s;
  position: relative;
  backface-visibility: hidden;
  outline: none; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

.btn:active {
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4);
  color: #d55200; }

.gooble-btn {
  height: 3rem;
  width: 12rem;
  background-color: #0f4c5c;
  border: 2px solid #d55200;
  color: white; }

#gif {
  display: flex;
  justify-content: center; }

.portal {
  height: 25rem;
  width: 20rem;
  margin-bottom: 10rem;
  border-radius: 50%; }

#bar-container {
  display: flex;
  justify-content: center;
  width: 10%; }

.load {
  font-size: 2rem;
  height: 3rem;
  border-radius: 0.5rem;
  background-color: #74f344;
  text-align: center;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }

.char-container {
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 15rem; }

.char-card {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  position: relative;
  border: 2px solid #d55200;
  border-radius: 2px;
  background-color: #0f4c5c;
  margin-bottom: 15rem;
  margin-left: 5rem;
  width: 25%;
  min-height: 50rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); }

.char-img {
  border: 2px solid #d55200;
  border-radius: 50%;
  width: 20rem;
  height: 20rem;
  position: absolute;
  top: -11rem;
  left: 7rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  transition: all 01s; }

.char-img:hover {
  transform: rotate(360deg); }

.char-content {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin-top: 15rem;
  margin-left: 5rem;
  font-size: 1.5rem;
  line-height: 3rem; }

.char-logo {
  width: 80%; }

.char-id-num {
  position: absolute;
  top: 2rem;
  left: 1rem;
  border-bottom: 2px solid #d55200;
  padding: 0.5rem; }

.span {
  border-bottom: 1px solid white; }

.footer {
  width: 100%;
  background-color: #0f4c5c;
  height: 5rem; }
  .footer-text {
    padding-top: 1rem; }
  .footer-api-link {
    text-decoration: none;
    color: white;
    transition: all 0.3s; }
  .footer-api-link:hover {
    color: #f2da5e; }

.header-logo-ctn {
  margin: 0 auto; }

.header-img {
  width: 25rem;
  height: 25rem;
  border-radius: 2px;
  border-top: 1px solid #d55200;
  border-bottom: 1px solid #d55200;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  transition: all 0.3s; }

.header-title-ctn {
  margin-top: 8rem; }

.header-title-main {
  font-size: 5rem; }

.header-img:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 2rem rgba(220, 213, 84, 0.4); }

.header-img:active {
  transform: scale(1);
  box-shadow: 0 0.5rem 1rem rgba(164, 171, 66, 0.4); }

.section-header {
  height: 80vh;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 0.5rem;
  border-radius: 3px; }
  @media (max-width: 37.5em) {
    .section-header {
      width: 100%; } }

.section-instructions {
  margin-top: 10rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center; }

.section-gooble {
  width: 50%;
  margin: 0 auto;
  text-align: center; }
