body {
  font-family: "Nunito", sans-serif;
  line-height: 1.7;
  color: white;
}

h1 {
  font-weight: 300;
  color: white;
}

.section-header {
  font-size: 5rem;
}

.instructions {
  &-ctn {
    font-size: 1.5rem;
    font-weight: 200;
  }
  &-how-to {
    &-h3 {
      font-size: 4rem;
    }
    &-paragraph {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.gooble-btn {
  font-size: 2rem;
}

.footer {
  text-align: center;
  font-size: 2rem;
}
